@model LagerverwaltungWebApp.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Bestellzuständigkeit anzeigen</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material.Materialnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.Materialnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
        @Html.ActionLink("Bestellzuständigkeit-Cockpit", "Index")
</p>
